.App {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  color: white;
}
 
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(155, 201, 240),rgb(193, 241, 166)); 
}


.search-bar-container{
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
}

.container-style{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1rem;
  width: 18rem;
  border-radius: 6px;
  margin: auto;
}

.container-position{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
}

#current-city{
  margin-top: 1rem;
}

#weather-font{
  font-family: 'Shrikhand', cursive;
  color: rgb(241, 114, 135);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}