.App {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  color: white;
}
 
body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(155, 201, 240),rgb(193, 241, 166)); 
}


.search-bar-container{
  margin-top: 2.5rem;
}

.container-style{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1rem;
  width: 18rem;
  border-radius: 6px;
  margin: 0 auto 0 auto;
}

.container-style input:first-child{
  width: 12rem;
}

.search-bar-start{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
}

.container-position{
  margin-top: 4rem;
}

#weather-font{
  font-family: 'Shrikhand', cursive;
  color: rgb(241, 114, 135);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#weather-font-1{
  position: relative;
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  color: rgb(241, 114, 135);
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.container-style-1{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 2rem;
  width: 24rem;
  border-radius: 6px;
  margin: 0 auto 0 auto;
}

.container-style-1 input:first-child{
  width: 15.5rem;
}

.container-style-1 input, .container-style-1 button{
  font-size: 1.2rem;
}

.degrees-style{
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  text-align: center;
}

.city{
  font-size: 2rem;
}

.desc-style{
  font-size: 1.5rem;
}

.CFbutton{
  padding: 0 .6rem 0 .6rem;
  margin: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  border: solid white;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0);
}

.CFbutton:focus, .CFbutton:visited, .CFbutton:active{

  outline: none;
}

.units{
  display: flex;
  align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.61);
  margin-left: 0.5rem;
}

#current-city{
  margin-top: 1rem;
  border: solid 1px rgba(102, 102, 102, 0.979);
  background-color: #efefef;
  border-radius: 6px;
  width: 100%;
  padding: .2rem;
  font-weight: 600;
  color:rgb(65, 65, 65)
}

.form-1{
  width: 100%;
}

#current-city-1{
  margin-top: 1rem;
  border: solid 1px rgba(102, 102, 102, 0.979);
  background-color: #efefef;
  border-radius: 6px;
  width: 100%;
  padding: .2rem;
  font-weight: 600;
  color:rgb(65, 65, 65)
}

.fa-sun-1{
  position: relative;
  bottom: 2.4rem;
  left: 10.6rem;
  z-index: -3;
  margin: -2rem;
  color: rgba(255, 255, 255, 0.616);
}

.slow-spin {
  -webkit-animation: fa-spin 5s infinite linear;
  animation: fa-spin 5s infinite linear;
}

.fa-sun-2{
  position: relative;
  bottom: 3rem;
  left: 8.8rem;
  z-index: -3;
  margin: -2rem;
  color: rgba(255, 255, 255, 0.616);
}